.root {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;

}
.username {
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: var(--grey);
}
