.root {
  width: 100%;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.products {
  background-color: var(--dark);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 20px;
}
.btn {
  text-align: center;
  margin-top: 20px;
}