html,
body {
  background: var(--bg);
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.content {
  display: flex;
}
